/* CSS Version Component */
/* Version: 1.2 || Date: 2010-1-4 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/** ASP.NET Component **/
.InputBtn
{
    padding:4px;
    font-size:12px;
    font-weight:bold;
    color:#666666;
    border:1px solid #999999;
    background:#EEEEEE;
    margin:3px;
    cursor:pointer;
}
a.LinkBtn
{
    display: inline-block;
    padding:5px;
    font-size:12px;
    font-weight:bold;
    color:#666666;
    border:1px solid #999999;
    background:#EEEEEE;
    text-decoration:none;
    margin:2px;
    cursor:pointer;
    white-space: nowrap;
}
a.LinkBtn:hover
{
     text-decoration:none;
     color: #003399;
     border:1px solid #333333;
     white-space: nowrap;
}
a.DelBtn
{}

/** Form Component **/
select
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #FFFFFF;
}
.CheckBox input
{
    margin-right: 4px;
}
textarea
{
    font-size:12px;
}
.TextBox
{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #FFFFFF;
    color: #545454;
    padding: 4px;
    font-size:12px;
}
.TextBoxRead
{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #eee;
    color: #333;
    padding: 4px;
    font-size:12px;
}
.TextBox:hover
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0ddfc;
    padding: 4px;
    border: 1px double #3399ff;
    color: #000;
}
.ValiSpan
{
    color: #aa0000;
    font-weight: bold;
    font-family:Verdana;
}