USE [GGGETS]
GO
/****** Object:  Table [dbo].[CountryCode]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[CountryCode] ([ID], [CountryCode], [CountryName]) VALUES (1, N'AF', N'AFGHANISTAN')
INSERT [dbo].[CountryCode] ([ID], [CountryCode], [CountryName]) VALUES (2, N'AL', N'ALBANIA')
INSERT [dbo].[CountryCode] ([ID], [CountryCode], [CountryName]) VALUES (3, N'DZ', N'ALGERIA')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'


/****** Object:  Table [dbo].[RegionCode]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[RegionCode] ([ID], [CountryCode], [RegionCode], [RegionName]) VALUES (2, N'46', N'ABX', N'ABIDJAN UNLIST')
INSERT [dbo].[RegionCode] ([ID], [CountryCode], [RegionCode], [RegionName]) VALUES (3, N'21', N'BUQ', N'BULAWAYO')
INSERT [dbo].[RegionCode] ([ID], [CountryCode], [RegionCode], [RegionName]) VALUES (4, N'21', N'HRE', N'HARARE')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'



/****** Object:  Table [dbo].[Company]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[Company] ([CID], [CompanyCode], [FullName], [ShortName], [PostCode], [Address], [Contactor], [ContactorPhone], [Phone], [Fax], [OrganizationCode], [Status], [Remark]) VALUES (N'd2e7031c-db43-4b20-8ebe-becec8ca3f34', N'M18', N'麦考林', N'麦考林', N'200435', N'上海市普陀区长寿路1118号', N'沈志伟', N'13817011234', N'56881234', N'64950500-8999', N'SH000001', 0, NULL)


/****** Object:  Table [dbo].[Department]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[Department] ([DID], [CID], [CompanyCode], [DepCode], [DepName], [FeeDiscountType], [FeeDiscountRate], [WeightDiscountType], [WeightDiscountRate], [SettleType], [WeightCalType]) VALUES (N'b7c75eac-8549-4dc1-aabe-0471c17f4f9f', N'd2e7031c-db43-4b20-8ebe-becec8ca3f34', N'M18', N'00', N'开发部', 0, CAST(1.00 AS Decimal(4, 2)), 0, CAST(1.00 AS Decimal(4, 2)), 0, 1)
INSERT [dbo].[Department] ([DID], [CID], [CompanyCode], [DepCode], [DepName], [FeeDiscountType], [FeeDiscountRate], [WeightDiscountType], [WeightDiscountRate], [SettleType], [WeightCalType]) VALUES (N'93a2ec83-da17-4aa3-b884-8cd5bc7fe4ab', N'd2e7031c-db43-4b20-8ebe-becec8ca3f34', N'M18', N'01', N'市场部', 0, CAST(1.00 AS Decimal(4, 2)), 0, CAST(1.00 AS Decimal(4, 2)), 1, 2)


/****** Object:  Table [dbo].[User]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[User] ([UID], [DID], [LoginName], [Password], [RealName], [Email], [Phone], [UpdateTime], [CreateTime], [Operator], [Remark], [FeeDiscountType], [FeeDiscountRate], [WeightDiscountType], [WeightDiscountRate], [SettleType], [WeightCalType], [Status]) VALUES (N'c361a279-a9e7-4e70-8d02-3d96a4ed5af2', N'93a2ec83-da17-4aa3-b884-8cd5bc7fe4ab', N'U2', N'123456', N'小美', N'szw@126.com', N'110', CAST(0x00009E980157C032 AS DateTime), CAST(0x00009E980157C032 AS DateTime), N'小美', NULL, 0, CAST(1.00 AS Decimal(4, 2)), 1, CAST(1.00 AS Decimal(4, 2)), 1, 1, 1)
INSERT [dbo].[User] ([UID], [DID], [LoginName], [Password], [RealName], [Email], [Phone], [UpdateTime], [CreateTime], [Operator], [Remark], [FeeDiscountType], [FeeDiscountRate], [WeightDiscountType], [WeightDiscountRate], [SettleType], [WeightCalType], [Status]) VALUES (N'fa0ab206-7894-493e-a7f2-7708f22054bf', N'b7c75eac-8549-4dc1-aabe-0471c17f4f9f', N'U1', N'123456', N'小伟', N'szw@126.com', N'119', CAST(0x00009E980157C02D AS DateTime), CAST(0x00009E980157C02D AS DateTime), N'小伟', NULL, 0, CAST(1.00 AS Decimal(4, 2)), 1, CAST(1.00 AS Decimal(4, 2)), 1, 1, 1)






/****** Object:  Table [dbo].[MAWB]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[MAWB] ([MID], [BarCode], [From], [To], [FlightNo], [CreateTime], [LockedTime], [Operator], [TotalWeight], [TotalVolume], [Status]) VALUES (N'b99f909f-06ab-432f-94a4-c4689e850980', N'M1', N'TIA', N'KBL', N'K494', CAST(0x00009CF100000000 AS DateTime), CAST(0x00009CF200000000 AS DateTime), N'沈志伟', CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[MAWB] ([MID], [BarCode], [From], [To], [FlightNo], [CreateTime], [LockedTime], [Operator], [TotalWeight], [TotalVolume], [Status]) VALUES (N'b99f909f-06ab-432f-94a4-c4689e850987', N'M2', N'SHA', N'TYO', N'K495', CAST(0x00009CF100000000 AS DateTime), CAST(0x00009CF200000000 AS DateTime), N'沈志伟', CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), 1)



/****** Object:  Table [dbo].[Package]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[Package] ([PID], [MID], [BarCode], [OriginalRegionCode], [DestinationRegionCode], [Piece], [TotalWeight], [CreateTime], [UpdateTime], [Operator], [Status], [IsMixed]) VALUES (N'b99f909f-06ab-432f-94a4-c4689e85af54', N'b99f909f-06ab-432f-94a4-c4689e850987', N'p3', N'SHA', N'TYO', 15, CAST(15.00 AS Decimal(10, 2)), CAST(0x00009E990099EBBB AS DateTime), CAST(0x00009E990099EBBB AS DateTime), N'沈志伟', 0, 1)
INSERT [dbo].[Package] ([PID], [MID], [BarCode], [OriginalRegionCode], [DestinationRegionCode], [Piece], [TotalWeight], [CreateTime], [UpdateTime], [Operator], [Status], [IsMixed]) VALUES (N'b99f909f-06ab-432f-94a4-c4689e898008', N'b99f909f-06ab-432f-94a4-c4689e850980', N'P5', N'TIA', N'KBL', 16, CAST(18.00 AS Decimal(10, 2)), CAST(0x00009CF100000000 AS DateTime), CAST(0x00009D2D00000000 AS DateTime), N'沈志伟', 0, 1)
INSERT [dbo].[Package] ([PID], [MID], [BarCode], [OriginalRegionCode], [DestinationRegionCode], [Piece], [TotalWeight], [CreateTime], [UpdateTime], [Operator], [Status], [IsMixed]) VALUES (N'b99f909f-06ab-432f-94a4-c4689e898374', N'b99f909f-06ab-432f-94a4-c4689e850987', N'P4', N'SHA', N'TYO', 16, CAST(18.00 AS Decimal(10, 2)), CAST(0x00009CF100000000 AS DateTime), CAST(0x00009D2D00000000 AS DateTime), N'沈志伟', 0, 1)







/****** Object:  Table [dbo].[HAWB]    Script Date: 03/04/2011 22:34:55 ******/

/****** Object:  Table [dbo].[HAWBItem]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[HAWBItem] ([ItemID], [HID], [Name], [Piece], [UnitAmount], [TotalAmount], [Remark]) VALUES (N'547649c6-63dd-4e5f-a619-4f83419e1876', N'547649c6-63dd-4e5f-a619-4f83419e1d02', N'A', 2, CAST(2.00 AS Decimal(8, 2)), CAST(2.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[HAWBItem] ([ItemID], [HID], [Name], [Piece], [UnitAmount], [TotalAmount], [Remark]) VALUES (N'547649c6-63dd-4e5f-a619-4f83419e3241', N'547649c6-63dd-4e5f-a619-4f83419e1d02', N'B', 3, CAST(3.00 AS Decimal(8, 2)), CAST(3.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[HAWBItem] ([ItemID], [HID], [Name], [Piece], [UnitAmount], [TotalAmount], [Remark]) VALUES (N'547649c6-63dd-4e5f-a619-4f83419e3242', N'55c90ff4-bb96-4856-8a94-dbea37edde07', N'C', 3, CAST(3.00 AS Decimal(8, 2)), CAST(3.00 AS Decimal(8, 2)), NULL)


/****** Object:  Table [dbo].[AddressBook]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[AddressBook] ([AID], [DID], [UID], [ReceiveAID], [Name], [ContactorName], [CountryCode], [Provience], [RegionCode], [Address], [Fax], [Phone], [PostCode], [AddressType], [CreateTime], [UpdateTime], [Operator]) VALUES (N'9d27ef31-39d5-4f64-aafb-0510e277b800', N'b7c75eac-8549-4dc1-aabe-0471c17f4f9f', NULL, N'421dde99-2bf2-41f3-8ad9-acfb6741bf24', N'KONAMA', N'本多忠胜', N'SH', N'日本', N'OSA', N'日本爱知县中国事务所', NULL, N'123459', N'100445', 2, CAST(0x00009E980157C03B AS DateTime), CAST(0x00009E980157C03B AS DateTime), N'沈志伟')
INSERT [dbo].[AddressBook] ([AID], [DID], [UID], [ReceiveAID], [Name], [ContactorName], [CountryCode], [Provience], [RegionCode], [Address], [Fax], [Phone], [PostCode], [AddressType], [CreateTime], [UpdateTime], [Operator]) VALUES (N'744692c8-f9f6-4d05-ab03-095956708ded', N'93a2ec83-da17-4aa3-b884-8cd5bc7fe4ab', NULL, NULL, N'索尼', N'三池崇史', N'JP', N'日本', N'JXX', N'日本北海道神宫520番地4', NULL, N'888884', N'200413', 1, CAST(0x00009E980157C032 AS DateTime), CAST(0x00009E980157C032 AS DateTime), N'沈志伟')
INSERT [dbo].[AddressBook] ([AID], [DID], [UID], [ReceiveAID], [Name], [ContactorName], [CountryCode], [Provience], [RegionCode], [Address], [Fax], [Phone], [PostCode], [AddressType], [CreateTime], [UpdateTime], [Operator]) VALUES (N'c8450fd9-4af2-437c-aa85-17ae787c517a', N'93a2ec83-da17-4aa3-b884-8cd5bc7fe4ab', NULL, NULL, N'MOTO', N'Ken', N'CZ', N'CZECH REPUBLIC', N'OSR', N'Lindley Ave. Juneau, AK', NULL, N'205091', N'02303', 1, CAST(0x00009E980157C03B AS DateTime), CAST(0x00009E980157C03B AS DateTime), N'沈志伟')


/****** Object:  Table [dbo].[Template]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[Template] ([TID], [TemplateCode], [Name], [Desc], [PrintDirection], [PagerWidth], [PagerHeight], [PaperType], [BatchHeight], [CreateDate], [ModifyDate], [Operator], [CorrespondingTable], [CorrespondingCN], [IdentifyKey]) VALUES (N'3cc500c0-0cac-45ba-8497-989a73a3fe32', N'A2', N'运单模板连打', N'管理多个运单模板，套打个数不限', 3, 3000, 0, NULL, 500, CAST(0x00009E9901024767 AS DateTime), CAST(0x00009E9901024767 AS DateTime), N'admin', N'hawb,hawbbox,hawbitem', N'运单,运单盒子,运单物品', N'HID')
INSERT [dbo].[Template] ([TID], [TemplateCode], [Name], [Desc], [PrintDirection], [PagerWidth], [PagerHeight], [PaperType], [BatchHeight], [CreateDate], [ModifyDate], [Operator], [CorrespondingTable], [CorrespondingCN], [IdentifyKey]) VALUES (N'3cc500c0-0cac-45ba-8497-989a73a3fe3d', N'A1', N'运单模板单打', N'管理单个运单模板', 3, 3000, 0, NULL, 0, CAST(0x00009E9901024767 AS DateTime), CAST(0x00009E9901024767 AS DateTime), N'admin', N'hawb,hawbbox,hawbitem', N'运单,运单盒子,运单物品', N'HID')


/****** Object:  Table [dbo].[Param]    Script Date: 03/04/2011 22:34:55 ******/
INSERT [dbo].[Param] ([PID], [TID], [Tag], [Key], [Value], [Top], [Left], [Height], [Width], [FontName], [FontSize], [Alignment], [Bold], [Italic], [Underline], [ParamType], [DefaultValue]) VALUES (N'd40fed11-83b7-43d0-9f9a-2c5e3305f5aa', N'3cc500c0-0cac-45ba-8497-989a73a3fe32', 27, N'到付月结', N'select SettleType from hawb where HID=''#key#''', 224, 616, 20, 100, N'WST_Swed', 9, 0, 0, 0, 0, N'RadioBox', N'2')
INSERT [dbo].[Param] ([PID], [TID], [Tag], [Key], [Value], [Top], [Left], [Height], [Width], [FontName], [FontSize], [Alignment], [Bold], [Italic], [Underline], [ParamType], [DefaultValue]) VALUES (N'26f74db3-79fa-4cf2-8bb1-34340ecec936', N'3cc500c0-0cac-45ba-8497-989a73a3fe32', 28, N'预付现结', N'select SettleType from hawb where HID=''#key#''', 224, 540, 20, 100, N'WST_Swed', 9, 0, 0, 0, 0, N'RadioBox', N'1')
INSERT [dbo].[Param] ([PID], [TID], [Tag], [Key], [Value], [Top], [Left], [Height], [Width], [FontName], [FontSize], [Alignment], [Bold], [Italic], [Underline], [ParamType], [DefaultValue]) VALUES (N'0811dccf-2a76-4c12-bcb5-40e6dff12512', N'3cc500c0-0cac-45ba-8497-989a73a3fe3d', 27, N'到付月结', N'select SettleType from hawb where HID=''#key#''', 224, 616, 20, 100, N'WST_Swed', 9, 0, 0, 0, 0, N'RadioBox', N'2')

INSERT [dbo].[Role] ([RoleID], [Name], [Status], [Description], [CreateTime], [LastUpdateTime], [UpdateId], [Remark]) VALUES (N'c75ba0a0-ced4-48de-9e1d-ef25393968e8', N'管理员', 1, N'管理员', CAST(0x00009EB700BB1A71 AS DateTime), CAST(0x00009EB700D372D9 AS DateTime), NULL, N'管理员')


INSERT [dbo].[AppModule] ([ModuleID], [Description], [CreateTime], [Remark], [IsLeft], [ParentId], [PrivilegeDesc], [URL]) VALUES (N'c0cf9aaf-c438-49e5-a5af-028c33dc37a3', N'新建运单', NULL, N'新建运单', 1, N'f0ca5b38-9fc5-4dd1-8e08-657c14b5e670', 192, N'http://localhost:2149/HAWBManage/HAWBAdd.aspx')
INSERT [dbo].[AppModule] ([ModuleID], [Description], [CreateTime], [Remark], [IsLeft], [ParentId], [PrivilegeDesc], [URL]) VALUES (N'0e3923e1-97fc-4d00-a5d8-053d4a097975', N'角色管理', CAST(0x00009EB800DCF733 AS DateTime), N'角色管理', 0, NULL, NULL, NULL)
INSERT [dbo].[AppModule] ([ModuleID], [Description], [CreateTime], [Remark], [IsLeft], [ParentId], [PrivilegeDesc], [URL]) VALUES (N'82be44f6-8522-497a-baab-22adf8a48940', N'菜单查询', CAST(0x00009EB800DC8A15 AS DateTime), N'菜单查询', 1, N'11f0013e-f638-41f4-80bf-a59c9eb2a9b7', 384, N'http://localhost:2149/SysManager/AppModuleManagement.aspx')


INSERT [dbo].[SysUser] ([UID], [LoginName], [Password], [RealName], [Email], [Phone], [UpdateTime], [CreateTime], [Operator], [Remark], [Status], [DepartmentID], [RoleID], [CountryCode], [RegionCode]) VALUES (N'11789d48-e880-4335-9192-1ce8586d0538', N'admin', N'admin', N'admin', N'', N'', CAST(0x00009EB700BB9D12 AS DateTime), CAST(0x00009EB700BB931C AS DateTime), N'Admin', N'', 1, NULL, NULL, N'CN', N'SHA')
INSERT [dbo].[SysUser] ([UID], [LoginName], [Password], [RealName], [Email], [Phone], [UpdateTime], [CreateTime], [Operator], [Remark], [Status], [DepartmentID], [RoleID], [CountryCode], [RegionCode]) VALUES (N'cb88243d-137e-4221-8552-a0e776a2b0e6', N'123', N'123', N'123', N'', N'', CAST(0x00009EB800EEA837 AS DateTime), CAST(0x00009EB800EEA837 AS DateTime), N'Admin', N'', 1, NULL, NULL, N'CN', N'SHA')



INSERT [dbo].[Role_Privilege] ([Role_PrivilegeID], [ModuleID], [PrivilegeDesc], [CreateTime], [Remark], [RoleID]) VALUES (N'01236997-e34a-461f-87ac-041d19c0616a', N'f8167443-bc5e-41a6-a0dc-ef8401261174', 128, CAST(0x00009EB700F59903 AS DateTime), NULL, N'c75ba0a0-ced4-48de-9e1d-ef25393968e8')
INSERT [dbo].[Role_Privilege] ([Role_PrivilegeID], [ModuleID], [PrivilegeDesc], [CreateTime], [Remark], [RoleID]) VALUES (N'66c78153-73d4-412a-8d40-1882c4d483b0', N'009c8cbe-dcbd-491f-8fb0-8de4beb7dfe8', 128, CAST(0x00009EB800EC4FE4 AS DateTime), NULL, N'c75ba0a0-ced4-48de-9e1d-ef25393968e8')
INSERT [dbo].[Role_Privilege] ([Role_PrivilegeID], [ModuleID], [PrivilegeDesc], [CreateTime], [Remark], [RoleID]) VALUES (N'fd151033-ba24-4a99-a877-1b5017a4e769', N'317d7f79-394c-44c4-9fee-bc5f558d1162', 128, CAST(0x00009EB700F59903 AS DateTime), NULL, N'c75ba0a0-ced4-48de-9e1d-ef25393968e8')


INSERT [dbo].[SysUser_Role] ([SysUser_RoleID], [RoleID], [UID], [LastUpdateTime], [Remark]) VALUES (N'ee2cf99e-7a5c-4d33-a9a8-3bc5d1e103a2', N'c75ba0a0-ced4-48de-9e1d-ef25393968e8', N'11789d48-e880-4335-9192-1ce8586d0538', NULL, NULL)



Create function [dbo].[getName](@SID varchar(200))
returns varchar(2000)
as
begin
declare @str varchar(2000)
set @str=''
select @str=rtrim(NameCN) from TableDesc where name=@SID
return @str
end


CREATE VIEW [dbo].[TableInfo]
AS
SELECT     OBJECT_NAME(b.rkeyid) AS PrimaryKeyTable, dbo.getName(OBJECT_NAME(b.rkeyid)) AS PrimaryKeyTableName, b.rkey AS PrimaryKeyID,
                          (SELECT     name
                            FROM          sys.syscolumns
                            WHERE      (colid = b.rkey) AND (id = b.rkeyid)) AS PrimaryKeyName, b.fkeyid AS ForeignKeyTableID, OBJECT_NAME(b.fkeyid) AS ForeignKeyTable, 
                      dbo.getName(OBJECT_NAME(b.fkeyid)) AS ForeignKeyTableName, b.fkey AS ForeignKeyID,
                          (SELECT     name
                            FROM          sys.syscolumns AS syscolumns_1
                            WHERE      (colid = b.fkey) AND (id = b.fkeyid)) AS ForeignKeyName
FROM         sys.sysobjects AS a INNER JOIN
                      sys.sysforeignkeys AS b ON a.id = b.constid INNER JOIN
                      sys.sysobjects AS c ON a.parent_obj = c.id
WHERE     (a.xtype = 'F') AND (c.xtype = 'U')

GO

/****** Object:  UserDefinedFunction [dbo].[getStrvalue]    Script Date: 03/19/2011 17:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[getStrvalue](@SID varchar(200))
returns varchar(2000)
as
begin
declare @str varchar(2000)
set @str=''
select @str=@str+','+rtrim(ForeignKeyTable) from TableInfo where PrimaryKeyTable=@SID
select @str=right(@str,len(@str)-1) where @str<>''
return @str
end

Create function [dbo].[getStrName](@SID varchar(200))
returns varchar(2000)
as
begin
declare @str varchar(2000)
set @str=''
select @str=@str+','+rtrim(ForeignKeyTableName) from TableInfo where PrimaryKeyTable=@SID
select @str=right(@str,len(@str)-1) where @str<>''
return @str
end

CREATE VIEW [dbo].[TemplateDesc]
AS
WITH cr AS (SELECT     PrimaryKeyTable, PrimaryKeyTable + ',' + dbo.getStrvalue(PrimaryKeyTable) AS SVALUE, dbo.getName(PrimaryKeyTable) 
                                                 + ',' + dbo.getStrName(PrimaryKeyTable) AS SName, PrimaryKeyName
                           FROM         dbo.TableInfo
                           GROUP BY PrimaryKeyTable, PrimaryKeyName)
    SELECT     cr_1.PrimaryKeyTable, cr_1.SVALUE, t.NameCN, cr_1.SName, cr_1.PrimaryKeyName
     FROM         dbo.TableDesc AS t INNER JOIN
                            cr AS cr_1 ON t.name = cr_1.PrimaryKeyTable

GO


/****** 对象:  View [dbo].[FindInfo]    脚本日期: 03/18/2011 12:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FindInfo]
AS
SELECT     TOP (100) PERCENT a.name AS fieldname, COLUMNPROPERTY(a.id, a.name, 'IsIdentity') AS [identity], (CASE WHEN
                          (SELECT     COUNT(*)
                            FROM          sysobjects
                            WHERE      (name IN
                                                       (SELECT     name
                                                         FROM          sysindexes
                                                         WHERE      (id = a.id) AND (indid IN
                                                                                    (SELECT     indid
                                                                                      FROM          sysindexkeys
                                                                                      WHERE      (id = a.id) AND (colid IN
                                                                                                                 (SELECT     colid
                                                                                                                   FROM          syscolumns
                                                                                                                   WHERE      (id = a.id) AND (name = a.name))))))) AND (xtype = 'PK')) > 0 THEN '1' ELSE '0' END) 
                      AS primarykey, b.name AS type, COLUMNPROPERTY(a.id, a.name, 'PRECISION') AS length, ISNULL(COLUMNPROPERTY(a.id, a.name, 'Scale'), 0) 
                      AS decimal, (CASE WHEN a.isnullable = 1 THEN '1' ELSE '0' END) AS isnull, CONVERT(varchar(50), ISNULL(g.value, '')) AS fielddesc, d.name
FROM         sys.syscolumns AS a LEFT OUTER JOIN
                      sys.systypes AS b ON a.xtype = b.xusertype INNER JOIN
                      sys.sysobjects AS d ON a.id = d.id AND d.xtype = 'U' AND d.name <> 'dtproperties' LEFT OUTER JOIN
                      sys.syscomments AS e ON a.cdefault = e.id LEFT OUTER JOIN
                      sys.extended_properties AS g ON a.colid = g.minor_id AND g.major_id = d.id
ORDER BY a.id, a.colorder

CREATE VIEW [dbo].[TableDesc]
AS
SELECT     CONVERT(varchar(100), O.name) AS name, ISNULL(CONVERT(varchar(100), F.value), CONVERT(varchar(100), O.name)) AS NameCN
FROM         (SELECT     name, id
                       FROM          sys.sysobjects AS S
                       WHERE      (xtype = 'U') AND (name <> 'dtproperties')) AS O LEFT OUTER JOIN
                      sys.extended_properties AS F ON O.id = F.major_id AND F.minor_id = 0

GO


GO


/****** 批处理更新存储过程 ******/
/****** 对象:  StoredProcedure [dbo].[BatchUpdateCustomsClearanceState]    脚本日期: 04/22/2011 17:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[BatchUpdateCustomsClearanceState]
@xmldata varchar(8000), --IN
@mawbCode nvarchar(50) --总运单编号
as
begin
declare @xmldata_id int --新创建文档的句柄
declare @result int --记录更新成功条数

--其实没有必要用事务，安全起见还是用了
begin transaction T
--参数1：句柄
--参数2：DOM文档的XML源
--参数3：命名空间，直接为空即可
exec sp_xml_preparedocument @xmldata_id output,@xmldata --返回一个句柄，可用于访问 XML 文档的新创建的内部表示形式

--OPENXML调用的第二个参数是一个映射到包含要提取数据的父节点的扩展路径
--第三个参数（2）指明使用以元素为中心的映射
--WITH子句为被解析的数据提供行集合格式
--首先删除临时表
if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
drop table [dbo].[TempTable]

--创建临时表
select barcode,clearstate into tempTable from openxml(@xmldata_id,'//Hawb',2) with (barcode nvarchar(20),clearstate char(1))

--批量更新
update hawb set 
CustomsClearanceState=
(select clearstate from tempTable where hawb.barcode = tempTable.barcode)
where hawb.barcode in (select barcode from openxml(@xmldata_id,'//Hawb',2) with (barcode nvarchar(20)))

--更新总运单导入字段，标志导入成功
update mawb set ImportStatus=1 where mawb.BarCode=@mawbCode
--END

--批量更新结束后将临时表删除
if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
drop table [dbo].[TempTable]

--sp_xml_removedocument调用删除DOM文档资源
exec sp_xml_removedocument @xmldata_id

--异常处理
if @@error <> 0 goto ErrMsg

--事务处理
set nocount off
commit transaction T
select 1 as Result
return 1

ErrMsg:
	set nocount off
	rollback transaction T
	select -1 as Result
	return -1
end



/****** 对象:  StoredProcedure [dbo].[BatchUpdateHAWBPackageState]    脚本日期: 04/22/2011 17:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE proc [dbo].[BatchUpdateHAWBPackageState]
@xmlStr varchar(8000) --封装了运单信息的XML字符串
as
declare @xmldata_id int --句柄
begin
	
	--Transaction Start
	begin transaction T
	--XML Document Prepare
	exec sp_xml_preparedocument @xmldata_id output,@xmlStr
	--Judge Temp Table
	if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable2]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
	drop table [dbo].[TempTable2]
	--Create Temp Table
	select barcode into tempTable2 from openxml(@xmldata_id,'//Hawb',2) with (barcode nvarchar(20))
	--Batch Update
	update hawb set PID=NULL,Status=0 where hawb.BarCode in (select barcode from tempTable2)
	--Delete Temp Table
	if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable2]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
	drop table [dbo].[TempTable2]
	--Delete XML Document
	exec sp_xml_removedocument @xmldata_id
	--Exception Resolve
	if @@error <> 0 goto ErrMsg
	--Transaction Resolve
	set nocount off
	commit transaction T
	select 1 as Result
	return 1

	ErrMsg:
		set nocount off
		rollback transaction T
		select -1 as Result
		return -1
end




/****** 对象:  StoredProcedure [dbo].[BatchUpdateWayBillCode]    脚本日期: 04/22/2011 17:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BatchUpdateWayBillCode]
@xmldata varchar(8000),
@waybillcode nvarchar(20)
as
begin
	declare @xmldata_id int
	begin transaction T
	exec sp_xml_preparedocument @xmldata_id output,@xmldata
	if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable3]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
	drop table [dbo].[TempTable3]
	select barcode into tempTable3 from openxml(@xmldata_id,'//Hawb',2) with (barcode nvarchar(20))

	update hawb set BillWayCode=@waybillcode where hawb.BarCode in (select barcode from tempTable3)

	if exists (select * from dbo.sysobjects where id=object_id(N'[dbo].[TempTable3]') and OBJECTPROPERTY(id,N'IsUserTable')=1) 
	drop table [dbo].[TempTable3]
	exec sp_xml_removedocument @xmldata_id

	if @@error <> 0 goto ErrMsg

	set nocount off
	commit transaction T
	select 1 as Result
	return 1

	ErrMsg:
		set nocount off
		rollback transaction T
		select -1 as Result
		return -1
end