/* CSS Version Component */
/* Version: 1.2.1 || Date: 2011-2-1 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/** ASP.NET Component **/
.InputBtn
{
    padding:5px;
    font-size:12px;
    font-weight:bold;
    color:#cc2828;
    border:1px solid #b4ac65;
    background:#f8f8ee;
    margin:3px;
    cursor:pointer;
}
a.LinkBtn
{
    display: inline-block;
    padding: 3px 6px;
    font-size:11px;
    font-weight:bold;
    color:#666666;
    border:1px solid #e7e9ae;
    background:#feffe1;
    text-decoration:none;
    margin:2px;
    cursor:pointer;
    white-space: nowrap;
}
a.LinkBtn:hover
{
     text-decoration:none;
     background: #fdf6ea;
     color: #cc2828;
     border:1px solid #b4ac65;
     white-space: nowrap;
}


/** Form Component **/
select
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #FFFFFF;
}
.CheckBox input
{
    margin-right: 4px;
}
textarea
{
    font-size:12px;
}
.TextBox
{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #FFFFFF;
    color: #545454;
    padding: 4px;
    font-size:12px;
}
.TextBoxRead
{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    background: #eee;
    color: #333;
    padding: 4px;
    font-size:12px;
}
.TextBox:hover
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0ddfc;
    padding: 4px;
    border: 1px double #3399ff;
    color: #000;
}
.ValiSpan
{
    color: #aa0000;
    font-weight: bold;
    font-family:Verdana;
}