/* CSS Version DataView */
/* Version: 1.2.1 || Date: 2011-2-1 || Author: Cyrano */
/* Cascading Style Sheets Level 2 Revision 1 */

/* DataView */
.DataView
{
    width: 99%;
    color: #333333;
    text-align:inherit;
    background: #fff;
    border: 1px solid #c9c7b1;
    margin-top: 5px;
    margin-left:5px;
}
.DataView td
{
    width:300px;
    padding: 1px;
    border-top: 1px solid #c9c7b1;
}
.DataView .Header th
{
    background: #787878 url(images/bar.png) repeat-x;
    padding: 1px;
    font-weight:100;
    color: #eee;
    white-space: nowrap;
}
.DataView .Header th a
{
    font-weight: bold;
    color: #fffe9d;
    text-decoration: underline;
    white-space: nowrap;
}
.DataView .Header th a:hover
{
    color: #eee;
}
.DataView .Pager td, .Footer td
{
    font-weight: bold;
    text-align: right;
    background: #cccccc;
}
.DataView .Pager td table
{
    float: right;
}
.DataView .Pager td table td
{
    border: none;
    padding: 0px;
}
.DataView .Pager td table tr td span
{
    background: #eee;
    padding: 5px;
    font-weight: bold;
    color: #333;
}
.DataView .Pager td table tr td a
{
    text-decoration: underline;
    padding: 3px;
}
.DataView .Row td
{
    background: #f5f5f5 url(images/listbg.jpg) no-repeat top left;
    color: #444;
}
.DataView .AlternatingRow td
{
    background: #f9f9f9 url(images/listbg.jpg) no-repeat top left;
    color: #444;
}
.DataView .SelectedRow, .DataView .Row:hover td, .DataView .AlternatingRow:hover td
{
    background: #fbefee;
    color: #cc2828;
}
.DataView .EditRow
{
    background: #f7f2d0;
}
.DataView .EditRow td, .DataView .SelectedRow td
{
    color: #333333;
    font-weight: bold;
}
.DataView td.FieldHeader
{
    background: #f7f7f7 url(images/listbg.jpg) no-repeat top left;
    text-align:right;
    font-weight:bold;
    color: #666666;
    padding: 2px;
    padding-right: 5px;
    width:110px;
}
.DataView .CommandRow td
{
    background: #E2DED6;
    text-align: left;
    font-weight: bold;
    color: #666666;
}
.DataView a.StrongLink
{
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.DataView a:hover.StrongLink
{
    font-size: 14px;
    font-weight: bold;
}

/* DataPager */
.DataPager
{
    text-align: right;
    margin: 2px;
}
.DataPager a
{
    color: #333333;
    padding: 5px;
}
.DataPager a:hover
{
    text-decoration: underline;
    background: #f2f2f2;
}
.DataPager a.Current
{
    background: #FFFFFF;
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}
.DataPager a.Prev, .DataPager a.Next, .DataView .SortArrow
{
    font-family: Arial;
    font-size: 10px;
}

/* FunctionBar */
.FunctionBar
{
    background: url(images/fbarbg.gif) repeat-x top left;
    height: 32px;
    overflow: hidden;
    border-right: 1px solid #cdcdcd;
}
.FunctionBar .DivFloatRight
{
    color:#444;
    float:right;
    font-weight:bold;
    padding: 1px;
}
.FunctionBar .DivFloatLeft
{
    color:#444;
    float:left;
    font-weight:bold;
}
.FunctionBar .TipTab
{
    background: url(images/fbar.gif) no-repeat top left;
    height: 32px;
    width: 45px;
}
.FunctionBar .DivFloatLeft select
{
    margin: 5px;
}

/* TipBar */
.TipBar
{
    padding: 3px;
    background: #fffde5;
    margin: 0px 3px;
    border: 1px solid #cdcdcd;
    border-top: none;
}
.TipBar p
{
    font-size: 10.5pt;
    color: #999;
    line-height: 1.5;
    display: block;
    text-indent: 21pt;
    margin: 5px;
    clear: both;
}
.TipBar ul
{
    display: block;
    padding: 5px 10px;
}
.TipBar ul li
{
    color: #666;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0px 5px;
    white-space: nowrap;
}
.TipBar .Clear
{
    border-bottom: 1px dashed #ccc;
    margin: 5px;
}

/* TreeView */
.TreeView
{
    margin: 5px;
}
.TreeView td
{
    font-size: 12px;
    color: #333333;
}
.TreeView .ParentNode
{
}
.TreeView .HoverNode
{
    text-decoration: underline;
}
.TreeView .SelectedNode
{
    background: #f0edb9;
    text-decoration: underline;
    padding: 0px 2px;
    color: #333333;
    font-weight: bold;
}

.FooterBtnBar
{
    margin:5px;
    text-align: center;
}
