<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GGGETSUnitOfWork" connectionString="metadata=res://*/Model.GGGETSAppDataModel.csdl|res://*/Model.GGGETSAppDataModel.ssdl|res://*/Model.GGGETSAppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WILLIAM-PC\SQLSERVER2008;Initial Catalog=GGGETS;User ID=sa;Password=iloveYUN122;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>