.picswitch .unchoose {
background-color:Black;
color:White;
opacity:0.6;
}

.picswitch a span {
border-right:1px solid #FFFFFF;
cursor:pointer;
display:block;
float:left;
text-align:center;
width:139px;
}

.picswitch a {
font-size:15px;
line-height:30px;
text-decoration:none;
}