<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GGGETSUnitOfWork" connectionString="metadata=res://*/Model.GGGETSAppDataModel.csdl|res://*/Model.GGGETSAppDataModel.ssdl|res://*/Model.GGGETSAppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MYGGGETS;Persist Security Info=True;User ID=sa;Password=shenzhiwei;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>